<div class="attendance-container">
  <h2><i class="fas fa-clipboard-list"></i> Attendance</h2>

  <form (ngSubmit)="markAttendance()" #attendanceForm="ngForm">
    <div>
      <label for="studentName"><i class="fas fa-user"></i> Student Name:</label>
      <input
        type="text"
        id="studentName"
        name="studentName"
        [(ngModel)]="studentName"
        #nameInput="ngModel"
        pattern="^[a-zA-Z\s]+$"
        required
      />
      <div *ngIf="nameInput.invalid && nameInput.touched" class="error">
      Name must contain only letters and spaces
      </div>
    </div>

    <div>
      <label for="studentCode"><i class="fas fa-id-card"></i> I D:</label>
      <input
        type="text"
        id="studentCode"
        name="studentCode"
        [(ngModel)]="studentCode"
        #codeInput="ngModel"
        pattern="^[0-9]+$"
        required
      />
      <div *ngIf="codeInput.invalid && codeInput.touched" class="error">
        The ID must contain numbers only
      </div>
    </div>

    <div>
      <label for="status"><i class="fas fa-check-circle"></i> Status:</label>
      <select id="status" name="status" [(ngModel)]="status" required>
        <option value="The student is present">Present</option>
        <option value="The student is absent">Absent</option>
      </select>
    </div>

    <button type="submit" [disabled]="!attendanceForm.valid">
      <i class="fas fa-save"></i> Record Status
    </button>
  </form>

  <table>
    <thead>
      <tr>
        <th><i class="fas fa-id-card"></i> ID</th>
        <th><i class="fas fa-user"></i> Name</th>
        <th><i class="fas fa-check-circle"></i> Status</th>
        <th><i class="fas fa-calendar-alt"></i> Date</th>
        <th><i class="fas fa-trash-alt"></i> Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of attendanceRecords; let i = index">
        <td>{{ record.code }}</td>
        <td>{{ record.name }}</td>
        <td>{{ record.status }}</td>
        <td>{{ record.date }}</td>
        <td>
          <button (click)="deleteRecord(i)" class="delete-btn">
            <i class="fas fa-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
