<div class="dashboard-container">


    <section class="follow-up">
      <h2><mat-icon> sentiment_satisfied_alt</mat-icon>
        Follow up</h2>
      <div class="course-list">
        <div class="course-card courses">
          <mat-icon>account_circle</mat-icon>
          <h3>Personal</h3>
          <p>Email: {{identiyService.currentUser.value?.email}}</p>
          <p>Name: {{identiyService.currentUser.value?.student?.name}}</p>
          <p>Address</p>
          <p>DOB</p>
        </div>
        <div class="course-card attendance">
          <mat-icon>event</mat-icon>
          <h3>Events</h3>
          <p>Place</p>
          <p>Time</p>
          <p>Guist</p>
        </div>
        <div class="course-card quizes">
          <mat-icon> bar_chart</mat-icon>
          <h3>GPA</h3>
          <p> {{identiyService.currentUser.value?.student?.gpa | number: '1.1-2' }} </p>
        </div>
        <div class="course-card assignments">
          <mat-icon>dns</mat-icon>
          <h3>Assignments</h3>
          <p>Angular: date</p>
          <p>Mobile devolopment: date</p>
          <p>After effect: date</p>
        </div>
      </div>
    </section>
  </div>
