<div class="dashboard-container">


    <section class="follow-up">
      <h2><mat-icon> sentiment_satisfied_alt</mat-icon>
        Follow up</h2>
      <div class="course-list">
        <div class="course-card courses">
          <mat-icon>account_circle</mat-icon>
          <h3>Personal</h3>
          <p><strong>Email:</strong> {{identiyService.currentUser.value?.email}}</p>
          <p><strong>Name:</strong> {{identiyService.currentUser.value?.student?.name}}</p>
          <p><strong>Address:</strong></p>
          <p><strong>DOB:</strong></p>
        </div>
        <div class="course-card attendance">
          <mat-icon>event</mat-icon>
          <h3>Events</h3>

          <div *ngFor="let event of events">
            <p><strong>Place:</strong> {{ event.place }}</p>
            <p><strong>Time:</strong> {{ event.time }}</p>
            <p><strong>Guest:</strong></p>
            <ul>
              <li *ngFor="let guest of event.guest">{{ guest }}</li>
            </ul>
          </div>
        </div>

        <div class="course-card quizes">
          <mat-icon> bar_chart</mat-icon>
          <h3>GPA</h3>
          <p> <strong>GPA:</strong> {{identiyService.currentUser.value?.student?.gpa | number: '1.1-2' }} </p>
          <p><strong>University rank:</strong></p>
          <p><strong>Major rank:</strong></p>
        </div>
        <div class="course-card assignments">
          <mat-icon>dns</mat-icon>
          <h3>Assignments</h3>
          <p><strong>Angular:</strong> {{ currentDate | date: 'fullDate' }}</p>
          <p><strong>Mobile Development:</strong> {{ currentDate | date: 'fullDate' }}</p>
          <p><strong>After Effect: </strong>{{ currentDate | date: 'fullDate' }}</p>
        </div>

      </div>
    </section>
  </div>
