<header>
  <h1>Welcome Back!</h1>
  <div class="categories">
    <button class="category" routerLink="/home/dashboard" routerLinkActive="active">    <mat-icon>dashboard</mat-icon>
      Dashboard</button>
    <button class="category" routerLink="/home/course-management" routerLinkActive="active"><mat-icon>swap_vert</mat-icon>
      Course management</button>
    <button class="category" routerLink="/home/attendance" routerLinkActive="active"><mat-icon>done_outline</mat-icon>
      Attendance</button>
    <button class="category" routerLink="/home/grading-system" routerLinkActive="active"><mat-icon> list_alt</mat-icon>
      Grading system</button>
    <button class="category" routerLink="/home/exams" routerLinkActive="active"><mat-icon>library_books</mat-icon>
      Exams</button>
    <button class="category" routerLink="/home/QA" routerLinkActive="active"><mat-icon>sms</mat-icon>
      QA</button>
    <button class="category" routerLink="/home/courses" routerLinkActive="active"><mat-icon>grid_on</mat-icon>
      Courses</button>
  </div>
</header>
<div>
  <router-outlet></router-outlet>
</div>
