<div class="dashboard-container">


  <section class="follow-up">
    <h2><mat-icon> sentiment_satisfied_alt</mat-icon>
      follow up</h2>
    <div class="course-list">
      <div class="course-card courses">
        <mat-icon>account_circle</mat-icon>
        <h3>Personal</h3>
        <p>Name: {{identiyService.currentUser.value?.email}}</p>
        <p>address</p>
        <p>DOB</p>
      </div>
      <div class="course-card attendance">
        <mat-icon>event</mat-icon>
        <h3>Events</h3>
        <p>place</p>
        <p>time</p>
        <p>guist</p>
      </div>
      <div class="course-card quizes">
        <mat-icon> bar_chart</mat-icon>
        <h3>GPA</h3>
        <p>3.7</p>
      </div>
      <div class="course-card assignments">
        <mat-icon>dns</mat-icon>
        <h3>assignments</h3>
        <p>angular: date</p>
        <p>mobile devolopment: date</p>
        <p>after effect: date</p>
      </div>
    </div>
  </section>
</div>
